:root {
  --color-green: #305847;
  --type-sans: "Kumbh Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --type-serif: "Asar", "Adamina", Georgia, "Times New Roman", Times, serif;
  --break-desktop: 1024px;
  --gap-grid: 3vw;
}

::selection {
  background-color: #305847;
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-green);
  font-family: var(--type-serif);
  font-kerning: auto;
  background-color: var(--color-green);
  transition: background-color 0.35s ease;
}

.nav-colored {
  background-color: #000;
}
.nav-transparent {
  background-color: red;
}
img {
  max-width: 100%;
}

h1,
h2,
.pquote blockquote p {
  font-family: var(--type-sans);
  font-weight: 400;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}

h2.alt-lang {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 10rem;
}

blockquote {
  margin: 0;
}

@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first last;
  }
}

.pquote {
  max-width: 600px;
}

.pquote blockquote p {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 150%;
}

.pquote blockquote p:before {
  content: open-quote;
}

.pquote blockquote p:after {
  content: close-quote;
}

p {
  line-height: 165%;
  font-family: var(--type-serif);
  letter-spacing: -0.1px;
}

p.drop-cap:first-letter {
  float: left;
  font-family: var(--type-sans);
  font-size: 3.5rem;
  line-height: 1.3;
  margin-right: 0.5rem;
  margin-bottom: -2rem;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

header,
section {
  padding: 10vh 7vw;
}

header {
  color: white;
  /* background-color: var(--color-green); */
}

header p.keep-reading {
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 2rem;
}

header p.keep-reading a {
  color: inherit;
  transition: color 0.2s ease;
}

header p.keep-reading a:hover {
  color: rgba(0, 0, 0, 0.4);
}

header h1,
header p.keep-reading,
header ul {
  text-align: center;
}

/* Article title */
header h1:nth-child(1) {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
}

header h1.alt-lang {
  font-size: 1.5rem;
}

@media screen and (min-width: 414px) {
  header h1:nth-child(1) {
    font-size: 6rem;
  }
  header h1:nth-child(2) {
    font-size: 2.5rem;
  }
}

header ul {
  list-style-type: none;
  padding-left: 0;
}

header .container {
  margin-top: 15vh;
}

header .container p {
  font-size: 1.15rem;
}

/* Break affordance */
.break {
  content: url("img/a.jpg");
  margin: 18vh auto;
  height: 2rem;
  opacity: 0.2;
}

@media screen and (min-width: 1024px) {
  .break {
    margin: 24vh auto;
  }
}

/* Grid */
.grid {
  display: grid;
  row-gap: 10vh;
  grid-template-columns: repeat(9, 1fr);
  column-gap: var(--gap-grid);
}

/* Pumpkin (replacement image) */
.grid img[data-src$="2D0A2693-30_r5q_UVgFg.jpg"] {
  grid-column: 1/5;
  grid-row: 1;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2693-30_r5q_UVgFg.jpg"] {
    grid-column: 1/5;
    grid-row: 1;
  }
}

/* Miso */
.grid img[data-src$="2D0A2481_TPhHwveh2.jpg"] {
  grid-column: 6/10;
  grid-row: 1;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2481_TPhHwveh2.jpg"] {
    grid-column: 6/10;
    grid-row: 1;
  }
}

/* Peppercorns */
.grid img[data-src$="2D0A2564-86_OPB-ezBAb.jpg"] {
  grid-column: 2/10;
  grid-row: 2;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2564-86_OPB-ezBAb.jpg"] {
    grid-column: 1/4;
    grid-row: 2;
  }
}

/* "Our biggest inspiration..." */
.grid #inspiration-quote {
  grid-column: 1/10;
  grid-row: 3;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .grid #inspiration-quote {
    grid-column: 5/10;
    grid-row: 2;
    text-align: right;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

/* Tray */
.grid img[data-src$="2D0A2446-6_Ejhju3E7co.jpg"] {
  grid-column: 1/6;
  grid-row: 4;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2446-6_Ejhju3E7co.jpg"] {
    grid-column: 4/6;
    grid-row: 3;
  }
}

/* Pegboard */
.grid img[data-src$="2D0A2722_HbG73Y0iJ.jpg"] {
  grid-column: 7/10;
  grid-row: 4;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2722_HbG73Y0iJ.jpg"] {
    grid-column: 6/10;
    grid-row: 3;
  }
}

/* Steam */
.grid img[data-src$="2D0A2525_yVapbwZ3Rk.jpg"] {
  grid-column: 1/8;
  grid-row: 5;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2525_yVapbwZ3Rk.jpg"] {
    grid-column: 1/4;
    grid-row: 4;
  }
}

/* "We celebrate and highlight... */
.grid #celebrate-quote {
  grid-column: 1/10;
  grid-row: 6;
}
@media screen and (min-width: 1024px) {
  .grid #celebrate-quote {
    grid-column: 1/6;
    grid-row: 5;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
}

/* Frame */
.grid img[data-src$="2D0A2472-20_fBibcXxb9D.jpg"] {
  grid-column: 1/4;
  grid-row: 7;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2472-20_fBibcXxb9D.jpg"] {
    margin-top: calc(-4 * var(--gap-grid));
    grid-column: 7/10;
    grid-row: 6;
  }
}

/* Trays */
.grid img[data-src$="2D0A2441-4_n6BVgyL8bd.jpg"] {
  grid-column: 5/10;
  grid-row: 7;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2441-4_n6BVgyL8bd.jpg"] {
    grid-column: 1/5;
    grid-row: 6;
  }
}

/* Okinawa */
.grid .textual {
  grid-column: 1/10;
  grid-row: 1;
}
@media screen and (min-width: 1024px) {
  .grid .textual {
    grid-column: 1/4;
    grid-row: 1/3;
  }
}

/* Okinawa fruit */
.grid img[data-src$="2D0A2594-1_-Kdofz6l3.jpg"] {
  grid-column: 2/10;
  grid-row: 2;
}
@media screen and (min-width: 1024px) {
  .grid img[data-src$="2D0A2594-1_-Kdofz6l3.jpg"] {
    grid-column: 5/10;
    grid-row: 2;
  }
}

/* "Okinawa is the... */
.grid #okinawa-quote {
  grid-column: 1/10;
  grid-row: 3;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  .grid #okinawa-quote {
    grid-column: 6/10;
    grid-row: 1;
    margin-top: 2rem;
    /* margin-bottom: 8rem; */
  }
}

/* Lazysizes */
/* .lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 1000ms;
} */

/* Fades */
.dur1500ms {
  animation-duration: 1500ms;
}
.dur2000ms {
  animation-duration: 2s;
}
.fade-in {
  animation-name: fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
